In [66]:
import pandas as pd

In [67]:
def normalizer(data, column):
    min_val = data[column].min()
    max_val = data[column].max()
    data[column] = (data[column] - min_val) / (max_val - min_val)

In [68]:
df = pd.read_csv("./titanic/train.csv")

In [69]:
df = df.drop(columns=["Name", "Ticket", "Cabin","PassengerId"])
df["Age"] = df["Age"].fillna(df["Age"].mean())
df['Sex'] = df['Sex'].map({"male" : 0, "female" : 1})
df['Embarked'] = df['Embarked'].map({'S' : 0, 'C' : 0.5, 'Q' : 1})
df = df.dropna()

In [70]:
normalizer(df, "Age")
normalizer(df, "Pclass")
normalizer(df, "Parch")
normalizer(df, "Fare")

In [74]:
df_train = df.head(df.shape[0]-100)
df_test = df.tail(100)

In [75]:
df_train

     Survived  Pclass  Sex       Age  SibSp     Parch      Fare  Embarked
0           0     1.0    0  0.271174      1  0.000000  0.014151       0.0
1           1     0.0    1  0.472229      1  0.000000  0.139136       0.5
2           1     1.0    1  0.321438      0  0.000000  0.015469       0.0
3           1     0.0    1  0.434531      1  0.000000  0.103644       0.0
4           0     1.0    0  0.434531      0  0.000000  0.015713       0.0
..        ...     ...  ...       ...    ...       ...       ...       ...
785         0     1.0    0  0.308872      0  0.000000  0.014151       0.0
786         1     1.0    1  0.220910      0  0.000000  0.014631       0.0
787         0     1.0    0  0.095250      4  0.166667  0.056848       1.0
788         1     1.0    0  0.007288      1  0.333333  0.040160       0.0
789         0     0.0    0  0.572757      0  0.000000  0.154588       0.5

[789 rows x 8 columns]

In [76]:
train_data = []
for index, row in df_train.iterrows() :
    train_data.append((row.iloc[1:].to_numpy().reshape(7,1), row.iloc[0:1].to_numpy().reshape(1,1)))

test_data = []
for index, row in df_test.iterrows() :
    test_data.append((row.iloc[1:].to_numpy().reshape(7,1), row.iloc[0:1].to_numpy().reshape(1,1)))

In [77]:
import lou

In [88]:
Network = lou.NeuralNetwork([7,10,5,5,1])

In [ ]:
print(f'Mean before training : {Network.meancost(test_data)}')
Network.train(train_data, tries=100000, alpha=0.01)
print(f'Mean after training : {Network.meancost(test_data)}')

Mean before training : 0.29507707834575364

KeyboardInterrupt:

In [90]:
print(f'Mean after training : {Network.meancost(test_data)}')

Mean after training : 0.0621334005277731

In [ ]:

df2 = pd.read_csv("./titanic/test.csv")

In [81]:
df2 = df2.drop(columns=["Name", "Ticket", "Cabin","PassengerId"])
df2["Age"] = df2["Age"].fillna(df2["Age"].mean())
df2['Sex'] = df2['Sex'].map({"male" : 0, "female" : 1})
df2['Embarked'] = df2['Embarked'].map({'S' : 0, 'C' : 0.5, 'Q' : 1})
normalizer(df2, "Age")
normalizer(df2, "Pclass")
normalizer(df2, "Parch")
normalizer(df2, "Fare")

In [82]:
df2

     Pclass  Sex       Age  SibSp     Parch      Fare  Embarked
0       1.0    0  0.452723      0  0.000000  0.015282       1.0
1       1.0    1  0.617566      1  0.000000  0.013663       0.0
2       0.5    0  0.815377      0  0.000000  0.018909       1.0
3       1.0    0  0.353818      0  0.000000  0.016908       0.0
4       1.0    1  0.287881      1  0.111111  0.023984       0.0
..      ...  ...       ...    ...       ...       ...       ...
413     1.0    0  0.396975      0  0.000000  0.015713       0.0
414     0.0    1  0.512066      0  0.000000  0.212559       0.5
415     1.0    0  0.505473      0  0.000000  0.014151       0.0
416     1.0    0  0.396975      0  0.000000  0.015713       0.0
417     1.0    0  0.396975      1  0.111111  0.043640       0.5

[418 rows x 7 columns]

In [83]:
data2 = []

for index, row in df2.iterrows():
    data2.append(row.to_numpy().reshape(7,1))

In [84]:
res = []
for entry in data2:
    tmp = Network.frontprop(entry)[-1]
    if tmp > 0.5:
        res.append(1)
    else:
        res.append(0)

In [85]:
df2 = pd.read_csv("./titanic/test.csv")
submission = pd.DataFrame({"PassengerId" : df2["PassengerId"], "Survived" : res})

In [86]:
submission.to_csv('submission.csv', index=False)